<h1><%= @trip.city %></h1>
<div>
  <% @trip.days.each do |day| %>
   <div>
      <%= day.date %>
      <% day.activities.each do |activity| %>
        <%= activity.name %>
      <% end %>
   </div>
  <% end %>
  <%= link_to "Delete",
                      trip_path(@trip),
                      class: "btn btn-warning",
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
</div>



  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
