<h1><%= @days.length %> days in <%= @city %></h1>

<div class="container">
  <div>
    <p><%= @days.first %> to <%= @days.last %></p>
  <% @days.each do |day| %>
    <ul>
      <li><%= day %></li>
    </ul>
  <% end %>

    <h2><%= @city %></h2>
    <% @activities.each do |activity| %>
      <%= activity.name %>
    <% end %>
  </div>


  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>
