<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-5 d-flex justify-content-between">
  <div class="navbar-left d-flex align-items-center ">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "cat.svg" %> 
      <% end %>
    <h1>PLAN IT FOR ME</h1>
    <%= link_to "About", "#", class: "nav-link" %>
    <% if user_signed_in?  %>
      <%= link_to "Saved Trips", "#", class: "nav-link" %>
    <% end %>
  </div>
  <div class="navbar-right d-flex align-items-center">
    <% if user_signed_in? %>
      <%= image_tag "Avatar.png", class: "avatar" %> 
    <% else %>
      <%= link_to "Sign Up",  new_user_registration_path, class: "nav-link" %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  </div>
</div>
