<div id="home">
  <div class="container">
  <%# Introduction Line %>
    <div class="header">
      <h2>We build customised trip itineraries based on your preferred <u>city</u>, duration, and interests! </h2>
      <h1>Plan your trip with us:</h1>
    </div>
    <div class="content">
      <div class="form">
          <h2>Itinerary Planner</h2>
          <%= render 'search_form' %>
      </div>
      <!--Carousel-->
        <div class="picture">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="ml-2 row align-items-center justify-content-center">
              <div class="col-2 text-left">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <i class="chevron picture fas fa-chevron-left carousel-control-prev-icon"></i>
                </a>
              </div>
              <div class="col-8 carousel-inner">
                <div class="picture-card align-items-center">
                  <div class="carousel-item active">
                    <p>Bali, Indonesia</p>
                    <%= image_tag "bali-2.jpg", class: 'picture-card-img' %>    
                  </div>
                  <div class="carousel-item">
                    <p>Cusco, Peru</p>
                    <%= image_tag "peru.jpg", class: 'picture-card-img' %>    
                  </div>
                  <div class="carousel-item">
                    <p>Lisbon, Portugal</p>
                    <%= image_tag "lisbon.jpg", class: 'picture-card-img' %>    
                  </div>
                  <div class="carousel-item">
                    <p>Yucatan, Mexico</p>
                    <%= image_tag "mexico.jpg", class: 'picture-card-img' %>    
                  </div>
                  <div class="carousel-item">
                    <p>Kyoto, Japan</p>
                    <%= image_tag "kyoto.jpg", class: 'picture-card-img' %>    
                  </div>
                </div>
              </div>
              <div class="col-2 text-right">
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <i class="chevron fas fa-chevron-right carousel-control-next-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Carousel End-->
        <!--Old Carousel
      <div class="picture">
        <div class="ml-2 row align-items-center justify-content-center">
          <div class="col-2 text-left">
            <i class="chevron picture fas fa-chevron-left"></i>
          </div>
          <div class="col-8">
            <div class="picture-card align-items-center">
            <p>Bali, Indonesia</p>
            <%= image_tag "bali.jpg", class: 'picture-card-img' %>           
            </div>
          </div>
          <div class="col-2 text-right">
            <i class="chevron fas fa-chevron-right"></i>
          </div>
        </div>
        Old Carousel End-->
      </div>
        
    </div>
  </div>
  <%= image_tag 'banner-content-1.png', class: "banner-image mt-5" %>
</div>
