<%= render 'shared/loading' %>

<div id="interests">
  <div class="container mb-5">
    <div class="row mb-1 mx-auto align-items-center">
      <div class="col-3">
      </div>
      <div class="col-6">
        <%= image_tag "cat1.svg", class: "progress-icon progress-a" %>
      </div>
      <div class="col-3">
        <p class="prompt next">Next</p>
      </div>
    </div>

    <div class="row mb-4 align-items-center">
      <div class="col-1">
      </div>
      <div class="col-10">
        <div class="progress_bar">
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-1">
        <button class="btn" type="submit" form='category-form'><i class="chevron fas fa-chevron-right" id="load-button"></i></button>
      </div>
    </div>
    <h1>SELECT YOUR INTERESTS:</h1>

    <%= simple_form_for :search, url: activities_path, method: 'get', html: { id: 'category-form' } do |f| %>
      <div class="row justify-content-center">

          <div class="col-lg-3 col-md-6 interest-col">
            <input class="image-checkbox" hidden type="checkbox" name="search[categories][]" id="nature" value="nature">
            <label for="nature">
              <div class="card-polaroid">
                <h2>Nature</h2>
                <%= image_tag "nature.jpg" %>
              </div>
            </label>
          </div>

          <div class="col-lg-3 col-md-6 interest-col">
            <input class="image-checkbox" hidden type="checkbox" name="search[categories][]" id="religion" value="religion">
            <label for="religion">
              <div class="card-polaroid">
                <h2>Religion</h2>
                <%= image_tag "religion.jpg" %>
              </div>
            </label>
          </div>

          <div class="col-lg-3 col-md-6 interest-col">
            <input class="image-checkbox" hidden type="checkbox" name="search[categories][]" id="museum" value="museum">
            <label for="museum">
              <div class="card-polaroid">
                <h2>Museum</h2>
                <%= image_tag "museum.jpg" %>
              </div>
            </label>
          </div>

          <div class="col-lg-3 col-md-6 interest-col">
            <input class="image-checkbox" hidden type="checkbox" name="search[categories][]" id="art" value="art">
            <label for="art">
              <div class="card-polaroid">
                <h2>Art</h2>
                <%= image_tag "art.jpg" %>
              </div>
            </label>
          </div>

          <div class="col-lg-3 col-md-6 interest-col">
            <input class="image-checkbox" hidden type="checkbox" name="search[categories][]" id="music" value="music">
            <label for="music">
              <div class="card-polaroid">
                <h2>Music</h2>
                <%= image_tag "music.jpg" %>
              </div>
            </label>
          </div>

          <div class="col-lg-3 col-md-6 interest-col">
            <input class="image-checkbox" hidden type="checkbox" name="search[categories][]" id="history" value="history">
            <label for="history">
              <div class="card-polaroid">
                <h2>History</h2>
                <%= image_tag "history.jpg" %>
              </div>
            </label>
          </div>

          <div class="col-lg-3 col-md-6 interest-col">
            <input class="image-checkbox" hidden type="checkbox" name="search[categories][]" id="sport" value="sport">
            <label for="sport">
              <div class="card-polaroid">
                <h2>Sport</h2>
                <%= image_tag "sport.jpg" %>
              </div>
            </label>
          </div>

          <div class="col-lg-3 col-md-6 interest-col">
            <input class="image-checkbox" hidden type="checkbox" name="search[categories][]" id="shopping" value="shopping">
            <label for="shopping">
              <div class="card-polaroid">
                <h2>Shopping</h2>
                <%= image_tag "shopping.jpg" %>
              </div>
            </label>
          </div>
      </div>
      <h1>OR:</h1>
      <div id="select-all-categories"type="button" class="btn btn-flat big-button"><p>Select All Categories</p></div>
    <% end %>
  </div>
</div>
