<div class="activity-popup">
  <div class="popup-card">
    <h2><%= @activity.name %></h2>
    <div class="row align-items-center d-inline">
      <div>
        <% if @activity.description == nil %>
        <p>No description</p>
        <% else %>
        <div style="height:70%;width:55%;overflow:auto;">
          <%= @activity.description %>
        </div>
        <% end %>
      </div>
      <div>
        <img src="<%= @activity.picture_url %>" alt="Image of <%= @activity.name %>" class="popup-image">
      </div>
    </div>
    <a class="popup_link" href="<%= @activity.link %>">Learn More</a>
    <a class="popup_link" id="closeme">Go Back</a>
  </div>
</div>
