<%= render 'shared/loading' %>

<div class="container">
<!---Nav Bar --->
    <div class="row mb-1 mx-auto align-items-center">
      <div class="col-3">
        <p class="prompt prev">Prev</p>
      </div>
      <div class="col-6">
        <%= image_tag "cat2.svg", class: "progress-icon progress-b" %>
      </div>
      <div class="col-3">
        <p class="prompt next d-none">Next</p>
      </div>
    </div>
  <div class="row mb-4 align-items-center">
    <div class="col-1" style="height: 72px">
      <%= link_to :back do %>
        <i class="chevron fas fa-chevron-left"></i>
      <% end %>
    </div>
    <div class="col-10">
      <div class="progress_bar">

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="col-1 right-arrow">
    </div>
  </div>
</div>
<!---Nav Bar End --->
<div class="selection mb-5">
  <div class="row">
    <div class="col-4">
      <h1>SELECT YOUR ACTIVITIES:</h1>
      <div class="instructions" data-max=" <%= ((session[:end_date].to_date - session[:start_date].to_date).to_i + 1)*2%>">
        <p>Please select <%= ((session[:end_date].to_date - session[:start_date].to_date).to_i + 1)*2%> activities for your trip</p>
        <p>You have selected <span id="counter">0</span>/<%= ((session[:end_date].to_date - session[:start_date].to_date).to_i + 1)*2%> activities</p>
      </div>
      <div class="card-itinerary mt-5">
        <h2>Your Itinerary</h2>
        <div>
          <% @activities.each do |category, activities|  %>
            <% next if activities.empty?  %>
              <p><%= category %></p>
              <ol id="<%= "selected-activities-#{category}" %>">
              </ol>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <%= simple_form_for :search, url: your_trip_path, method: 'get', html: { id: 'activity-form' } do |f| %>
        <div class="row justify-content-center">
          <% @activities.each do |category, activities|  %>
            <div class="col-12">
              <% if activities.empty? %>
                <h2><%=category.upcase%></h2>
                <p>(No activities found)</p>
              <% else %>
                <h2><%=category.upcase%></h2>
              <% end %>
              <div class="row horizontal-scroll">
                <% activities.each do |activity| %>
                  <div class="space-between">
                    <input class="image-checkbox" hidden type="checkbox" data-id="<%=activity.id%>" data-category="<%= category %>" name="search[<%= activity.id %>]" id="<%=activity.name.downcase.gsub(/[&'!\(\)#0-9, ]/, '_')%>" value="<%=activity.name %>">
                    <label data-target="<%=activity.name.downcase.gsub(/[&'!\(\)#0-9, ]/, '_') %>" data-fullname="<%= activity.name%>">
                      <%= render 'shared/activity_card',  name: activity.name, id:activity.id, picture_url: activity.picture_url %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
