<%= render 'shared/loading' %>

<div class="container">
<!---Nav Bar --->
  <div class="mb-1 mx-auto">
    <%= image_tag "cat2.svg", class: "progress-icon progress-b" %>
  </div>
  <div class="row mb-4 align-items-center">
    <div class="col-1">
      <%= link_to :back do %>
        <i class="chevron fas fa-chevron-left"></i>
      <% end %>
    </div>
    <div class="col-10">
      <div class="progress_bar">

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <button class="btn" type="submit" form='activity-form'>
        <i class="chevron fas fa-chevron-right" id="load-button"></i>
      </button>
    </div>
  </div>
</div>
<!---Nav Bar End --->
<div class="selection mb-5">
  <div class="row">
    <div class="col-4">
      <h1>SELECT YOUR ACTIVITIES:</h1>
      <div class="card-itinerary mt-5">
        <h2>Your Itinerary</h2>
        <% @activities.each do |category, activities| %>
          <p><%= category %></p>
          <ol>
          <% activities.each do |activity| %>
            <li><p><%=activity.name%></p></li>
          <% end %>
          </ol>
        <% end %>
      </div>
    </div>
    <div class="col-8">
      <%= simple_form_for :search, url: your_trip_path, method: 'get', html: { id: 'activity-form' } do |f| %>
        <div class="row justify-content-center">
          <% @activities.each do |category, activities|  %>
            <div class="col-12">
              <h2><%=category.upcase%></h2>
              <div class="row horizontal-scroll">
                <% activities.each do |activity| %>
                  <div class="col-lg-3 col-md-6 interest-col d-flex flex-column">
                    <input class="image-checkbox" hidden type="checkbox" name="search[<%= activity.id %>]" id="<%=activity.name.truncate_words(4)%>" value="<%=activity.name %>">
                    <label for="<%=activity.name.truncate_words(4)%>"><%= render 'shared/activity_card',  name: activity.name %></label>
                    <i class="fas fa-eye eyecon view-activity" data-id="<%= activity.id %>"></i>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

